
    
    
<ul class="nav navbar-nav pull-right">
  <% if current_user %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown", href="#">
        <div class="bold_letter", style:'color:white;font-weight:bold;margin-left:40px;'>
          <%= current_user.name %>
        </div>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <%= link_to 'Signout', session_path(current_user), method: :delete %>
      </ul>
    </li>
  <% else %>
  <%= link_to 'Sign_In ', new_session_path,style:'color:white;font-weight:bold;' %> 
  <%= link_to 'Sign_Up', new_user_path,style:'color:white;font-weight:bold;margin-left:40px;' %> 
  <% end %>
</ul>            