<div class="boxed">
  <div id="content">
    <h3 class="media-heading">
      <p>Blocitoff Users</p>
    </h3>
    <%= will_paginate %>
      <% @users.each do |user| %>
          <h4 class="media-heading">
            <%= link_to user.name, user %>
          </h4>
      <% end %>
    <%= will_paginate %>
  </div>
</div>
