<div style="width:200px;height:200px;float:left;color:black;background-color: #D2B48C;margin-top:10px;margin-left:120px;margin-right:400px;">
  <%= render "users/shared/project_name"%>
  <h3>Release 1.0</h3>
</div>


