<p>Todo_list is built in Ruby on Rails framework with MVC architecture. It uses html, CSS and 
bootstrap-sass to stylize. It uses ruby gems to achieve some of it's tasks. It uses SQLite for it's database 
needs in development mode and postgreSQL in production mode.</p>

<p>To get access to Todo_list, First thing you do is Signup.
Todo_list has user authentication implemented from scratch.</p>

<p>Signed In user can create multiple to-do items, see how old a to-do item is, edit them, mark to-do items as 
complete and delete them. Also, to-do items are automatically 
deleted seven days after their creation date.</p>

<p>With Todo_list, you can see your progress in your to-do list.</p>