
    <div class="boxed">
      <div style="width:760px; height:60px;">
        <h4 style="text-align:left;color:white;">&nbsp;&nbsp;Blocitoff:</h4> <br>
      </div>
      <div style="width:400px; height:200px;float:center;">
        <h1 style="text-align:left;margin-left:20px">Blocitoff:</h1>
        <p style="text-align:left;margin-left:20px;">A self-destructing to-do list to 
         keep you focussed on the things that 
         really matter</p>
         <p>
           <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
         </p>
       </div>
       <br>
      <div style="width:600px; height:100px; margin-left:150px;background-color:#A9A9A9; border: px solid black;">
        <table style="width: 100%; border: 3px solid black; border-collapse: collapse;text-align:left">
          <tr>
            <th>Todo</th>
            <th>Days_Left</th>
            <th>Complete</th>
            <th>Created_at</th>
          </tr>
          <tr>
            <td>ChangeOil</td>
            <td>3</td>
            <td>Complete</td>
            <td>2017-01-19 19:03:54 UTC</td>
          </tr>
           <tr>
            <td>Pay_the_Phone_bill </td>
            <td>3</td>
            <td>Complete</td>
            <td>2017-01-15 10:03:54 UTC</td>
          </tr>
           <tr>
            <td>Renew_the_Licence</td>
            <td>6</td>
            <td>Complete</td>
            <td>2017-01-20 07:03:54 UTC</td>
          </tr>
         </table> 
      </div>
     </div
