// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boxed {
  border: 20px solid black ;
  width: 800px;
  height: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  top: 50%;
  color: black;
  background-color: #D2B48C;;
  border-radius:20px;
}

.content {
  width: 200px ;
  margin-left: 600px ;
  margin-right: 600px ;
}
